.component-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  margin: 3vh;
  padding: 3vh;
  width: 90%;
}

.component-container * {
  margin: 1vh;
}
