.material-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
  margin: 1vh;
  padding: 1vh;
}

.material-container * {
  margin: 1vh;
}

.material-container button {
  border:0.16em solid rgba(255,255,255,0);
  color: white;
  background-color:blue;
  font-size: 1em;
  text-decoration: none;
  padding: 1vh;
  border-radius: 2em;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  transition: all 0.3s;
  outline: none;
}

.material-container button:hover {
  cursor: pointer;
  box-shadow: 10px 10px 28px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}
